html, body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3; /* Cor de fundo clara */
  color: #333; /* Cor do texto */
}

.form-card {
  background-color: rgb(33, 131, 164); /* Alterando a cor de fundo para roxo */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  margin: 40px auto;
  color: white; /* Cor do texto dentro do cartão */
}

.title{
  font-size: 20px;
  font-weight: bold;
  border: 1px;
  margin-left: 2px;
  margin-bottom: 10px;
  width: 100%;
  font-family: cursive;
}

.form-card-title, .autoresize {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

.autoresize {
  resize: vertical;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #5db1ed; /* Cor roxa para o botão */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #4582ae; /* Cor roxa um pouco mais escura ao passar o mouse */
}

/* Adaptação para dispositivos móveis */
@media (max-width: 600px) {
  .form-card {
      margin: 20px;
      padding: 15px;
  }
}
